.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes bounce {
    0%, 100% {
        /* transform: translateY(-25%); */
        scale: 0.9;
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        /* transform: none; */
        scale: 1;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.bounce {
    animation: bounce 1s forwards;
}